@using LibraryDTO
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<CategoryDTO>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Category", "Category", FormMethod.Get))
{
    <p style="margin-top:70px;">
        @Html.TextBox("search")
        <input type="submit" value="Search" />
    </p>
}
<table style="margin-top:30px;" class="table table-bordered">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tbody>
        @foreach (var ctgry in Model)
        {
            <tr>
                <th>@ctgry.CategoryId</th>
                <td><a href="/Category/GetBookByCategory/@ctgry.CategoryId" style="color:black;">@ctgry.CategoryName</a></td>

                <td><a href="/Category/CategoryDelete/@ctgry.CategoryId" class="btn btn-danger">Delete</a> </td>
                <td><a href="/Category/GetCategory/@ctgry.CategoryId" class="btn btn-warning">Update</a></td>
            </tr>
        }
    </tbody>

</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Category", new { sayfa }))
<a href="/Category/NewCategory/" class="btn btn-success">New Category</a>